<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Budz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="navbar-wrapper">
      <h1>
        <a href="/">
          <div class="st">

            <div class="st-top">
              <div class="st-bound st-bound-full"></div>
              <p><span class="st-drop st-stranger-w">W</span><span class="st-stranger-o">o</span>rk<span class="st-stranger-o">o</span><span class="st-stranger-u">u</span><span class="st-stranger-">t</span>
              </p>
              <div class="st-bound st-bound-mini st-bound-left"></div>
              <div class="st-bound st-bound-mini st-bound-right"></div>
            </div>

            <div class="st-bottom">
              <p>B<span class="st-things-u">u</span><span class="st-things-d">d</span><span class="st-things-z">z</span></p>
            </div>

          </div>
        </a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/new-workout">my workouts</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">
        <button class="ui inverted violet button">
        login</button></a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thank you for visiting Workout Budz!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>