<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
  <title>Just Tech News</title>
=======
  <title>Workout Budz</title>
>>>>>>> 35910b69a61e67c169645ccca2cb9515131bf107
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
<<<<<<< HEAD
        <a href="/">Just Tech News</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
=======
        <a href="/">Workout Budz</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/new-workout">my workouts</a>
>>>>>>> 35910b69a61e67c169645ccca2cb9515131bf107
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
<<<<<<< HEAD
      Thanks for visiting!
=======
      Thank you for visiting Workout Budz!
>>>>>>> 35910b69a61e67c169645ccca2cb9515131bf107
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>