<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Budz</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="navbar-wrapper">
      <h1>
        <a href="/">Workout Budz</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/new-workout">my workouts</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
      <section>
        <h2>Welcom to Workout Budz</h2>
        
      </section>
    </main>
    <footer>
      Thank you for visiting Workout Budz!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>