<section class="budz-main">
    <h2>Welcom to Workout Budz</h2>
  <article>
    <h3>About us:</h3>
      <p>
        Aliquam ac dapibus elit. Ut ligula felis, egestas ut suscipit ac, rhoncus id lacus. Vivamus tempus nec quam id dictum. Morbi dignissim mi in laoreet vehicula. Aenean non aliquam orci, pulvinar cursus sem. Phasellus pharetra mauris et ante auctor, nec feugiat ante lobortis. Suspendisse tincidunt neque nec arcu porttitor, at pellentesque libero congue. Aliquam tempor vel magna vitae fermentum.
      </p>
  </article>
  
  <ol class="workout-list">
    {{#each workouts as |workout|}}
    <li>
      {{> workout-info workout }}
    </li>
    {{/each}}
  </ol>
</section>
