<<<<<<< HEAD
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
=======
<ol class="workout-list">
  {{#each workouts as |workout|}}
  <li>
    {{> workout-info workout }}
>>>>>>> 35910b69a61e67c169645ccca2cb9515131bf107
  </li>
  {{/each}}
</ol>