{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
<<<<<<< HEAD
    <button type="button" class="upvote-btn">upvote</button>
=======
>>>>>>> 35910b69a61e67c169645ccca2cb9515131bf107
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<<<<<<< HEAD
<script src="/javascript/upvote.js"></script>
=======
>>>>>>> 35910b69a61e67c169645ccca2cb9515131bf107
{{/if}}